@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --color-dark-orange: #D77400;
    --color-black: #000000;
    --color-dark-green: #1C3828;
    --color-light-orange: #FFF3DB;
    --color-white: #fff;
    --color-card-background: #F5F5F5;
    --color-info-light: #edba73;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-underline: #BF810A;
    --color-dark-variant: #677483;
    --color-background: #ffffff;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(var(--color-light));

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    padding: 0px 100px;
    width: 100%;
}

nav {
    background-color: var(--color-background);
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: "Lexend Deca", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.logo-text {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

.logo-text span {
    font-weight: 700;
}

.links {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
}

.links a {
    color: var(--color-black);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 200;
    transition: color 0.3s ease;
}

.links a:hover {
    color: var(--color-dark-orange);
}

.content {
    height: 90vh;
    padding-top: 80px;
    /* padding-left: 40px; */
}

.content .item-1 {
    display: flex;
    font-family: "Lexend Deca", sans-serif;
    width: 80%;
    margin-left: 150px;
}

.content .item-1 .details-1 {
    margin: 25px 50px;
    width: 450px;
}

.content .item-1 .details-1 h2,
.content .item-2 .details-2 h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 15px;
}

.content .item-1 .details-1 p,
.content .item-2 .details-2 p {
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    letter-spacing: 2px;
    line-height: 25px;
}

.content .item-1 .content-img1 {
    width: 450px;
}

.content .item-2 {
    display: flex;
    font-family: "Lexend Deca", sans-serif;
    width: 60%;
    margin-left: 440px;
    margin-top: -220px;
}

.item2_content {
    display: flex;
}

.content .item-2 .details-2 {
    margin-left: 45px;
    margin-top: 100px;
    width: 370px;
}

.content .item-2 .content-img2 {
    width: 300px;
}

.content-2 {
    width: 100%;
    height: 100vh;
}

.content-2 .item-1 {
    width: 100%;
    height: 50%;
    background-image: url('/images/Polygon1.png');
    background-size: cover;
    font-family: 'Jost';
}

.content-2 .item-1 .text-1 {
    text-align: center;
    font-weight: 700;
    color: var(--color-background);
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 30px;
}

.content-2 .item-1 .text-2 {
    text-align: center;
    font-weight: 700;
    color: var(--color-dark-green);
    font-size: 80px;
    letter-spacing: 1px;
    padding-top: 30px;
}

.content-2 .item-2 {
    width: 100%;
    margin-top: -200px;
    padding: 50px;
    /* display: flex;
    justify-content: space-between; */
}

.content-2 .item-2 .card {
    width: 380px;
    height: 440px;
    background-color: var(--color-card-background);
    border-radius: 20px;
    font-family: 'Satoshi-Regular';
}

.content-2 .item-2 .card .card-text .t-1 {
    padding: 0px 11px;
    margin-top: 8px;
    font-family: 'Satoshi-Regular';
    font-weight: 550;
    font-size: 20px;
}

.content-2 .item-2 .card .card-text .t-2 {
    height: 50px;
    margin-top: 10px;
    padding: 0px 11px;
    font-family: 'Satoshi-Regular';
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 18px;
}

.card img {
    width: 100%;
    padding: 11px;
}

.card .card-btn {
    width: 100%;
    text-align: center;
    padding-top: 33px;
}

.card .card-btn .button-link {
    font-family: 'Satoshi-Regular';
    font-weight: 500;
    width: 95%;
    height: 55px;
    display: inline-block;
    text-align: center;
    padding-top: 12px;
    font-size: 22px;
    letter-spacing: 1px;
    background-color: var(--color-dark-orange);
    color: white;
    text-decoration: none;
    border-radius: 11px;
    transition: background-color 0.3s ease;
}

.card .card-btn .button-link:hover {
    background-color: #B35B00;
}

.swiper-Btn {
    color: var(--color-dark-orange);
}

.swiper-Btn::before,
.swiper-Btn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: var(--color-info-light);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-dark-orange);
}

.content-3 {
    width: 100%;
    height: 80vh;
    background-color: var(--color-light-orange);
}

.content-3 .c3-text {
    width: 750px;
    margin: auto;
    padding-top: 35px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
}

.content-3 .c3-text .p1 {
    font-size: 35px;
    font-weight: 300;
}

.content-3 .c3-text .p2 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

.content-3 .contact {
    width: 85%;
    margin: auto;
    height: 90vh;
    background-color: white;
    margin-top: 40px;
    border-radius: 25px;
    display: flex;
}

.content-3 .contact .contact-info {
    width: 455px;
    height: auto;
    margin: 12px;
    border-radius: 15px;
    padding: 45px;
    background-color: var(--color-dark-orange);
    font-family: "Lexend Deca", sans-serif;
    color: var(--color-card-background);

}

.content-3 .contact .contact-info .c-head {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.content-3 .contact .contact-info .c-para {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.content-3 .contact .contact-info .contact-details .cd-1 {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.content-3 .contact .contact-info .contact-details .cd-1 img {
    width: 45px;
}

.content-3 .contact .contact-info .contact-details .cd-1 p {
    font-size: 18px;
    font-weight: 250;
}

.content-3 .contact .contact-info .reg {
    font-size: 18px;
    font-weight: 250;
    text-align: center;
    margin-top: 260px;
}
/* Form  */

.container {
    width: 60%;
}

.container form {
    font-family: "Lexend Deca", sans-serif;
    padding: 30px 0 0 0;
}

.container form .form-row {
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form-row .textarea {
    height: 70px;
}

.input-data input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
}

.textarea textarea {
    width: 100%;
    /* Set the width to 100% */
    height: 350px;
    /* Set the height to 150 pixels */
    font-size: 16px;
    border-radius: 4px;
    /* box-sizing: border-box; / */
    resize: none;
    /* Prevent resizing of the textarea */
    padding-top: 20px;
}

.input-data label {
    color: #5E5A5A;
    position: absolute;
    pointer-events: none;
    bottom: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.textarea label {
    color: #5E5A5A;
    width: 100%;
    bottom: 40px;
    background: #fff;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
    transform: scale(1);
}


.lineform {
    width: 95%;
    margin: auto;
    margin-top: 300px;
    border: 2px solid var(--color-underline);
}

.intputsub {
    width: 150px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: var(--color-dark-orange);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    transition: background-color 0.3s;
}

.intputsub:hover {
    background-color: #C16300;
}


footer {
    width: 100%;
    margin-top: 420px;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
}

footer p {
    font-size: 22px;
    font-weight: 300;
    margin: 10px;
}

footer .f-div{
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

footer .f-div .fd-1 p{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

footer .f-div .fd-1 span {
    font-weight: 700;
}

.fd-2 {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

.fd-2 a, .fd-3 a {
    color: var(--color-black);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 300;
    transition: color 0.3s ease;
}

.fd-2 a:hover {
    color: var(--color-dark-orange);
}

.fd-3 img {
    margin-top: 10px;
    width: 30px;
}